:root {
    --gradient-background: linear-gradient(135deg, #FF9D6C 10%, #BB4E75 100%);

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: var(--gradient-background);
    --vp-home-hero-image-background-image: var(--gradient-background);
    --vp-home-hero-image-filter: blur(60px);
}